  @font-face {
  font-family: "gabriola";

  src: local("Anglica"),
    url("./Anglican.ttf") format("truetype");

    src: local("nosifer"),
    url("./nosifer.ttf") format("truetype");

    src: local("gabriola"),
    url("./gabriola.ttf") format("truetype");

  font-weight: normal;

}


