@font-face {
  font-family: "gabriola";

  src: local("literata"), url("./fonts/literata.ttf") format("truetype");
  
 /* background-color: rgba(212, 212, 212, 0.178); */
}

.hjshdxxx {
  outline: none;
  flex-wrap: nowrap;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  grid-template-columns: ;
  grid-template-rows: ;
  background-position: ;
  background-size: cover;
  background-repeat: no-repeat;
}
